form{
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.submitted{
  margin-top: 7rem;
}

option{
  background-color: transparent;
}

.color{
  display: grid;
  width: 1rem;
  height: 1rem;
  border: 2px;
}

