<p>form works!</p>
<div>
  <form [formGroup]="form" (ngSubmit)="createOrUpdateSight()">
    <h2>Form</h2>
    <label for="name">Enter name</label>
    <input id="name" type="text" formControlName="name">
    <label for="longitude">Enter longitude</label>
    <input id="longitude" type="number" formControlName="longitude">
    <label for="latitude">Enter latitude</label>
    <input id="latitude" type="number" formControlName="latitude">
    <label for="country" type="number">Enter country name</label>
    <input id="country" formControlName="countryName">
    <label for="iata">Enter iata code</label>
    <input id="iata" type="text" formControlName="iataCode">
    <label for="description" type="text">Enter description</label>
    <input id="description" formControlName="description">
    <label for="color">Choose color</label>
    <select id="color" formControlName="color">
      <option value="1">Color 1</option>
      <option value="2">Color 2</option>
      <option value="3">Color 3</option>
    </select>
    <ng-container *ngIf="sight; then modify; else add"></ng-container>
    <ng-template #modify>
      <button type="submit" [disabled]="this.form.invalid">Update sight</button>
    </ng-template>
    <ng-template #add>
      <button type="submit" [disabled]="this.form.invalid">Add sight</button>
    </ng-template>
  </form>
</div>


